/*font-family: 'Cabin Sketch', cursive;
font-family: 'Love Ya Like A Sister', cursive;
font-family: 'Finger Paint', cursive;*/

body{
	background: url("../images/paper_Background4.png"), url("../images/90sRockNight.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-position-y: 290px, 0px;
	background-size: 85%, cover;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 25px;
	background-color: black;
}

p{
	padding-bottom: 10px;
}

header{
	margin-bottom: 20px;
	text-align: center;
	height: 275px;
	width: 100%;
	background: url("../images/rockband_Art-01.png"), url("../images/grunge.png");
	background-repeat: no-repeat;
	background-size: contain, cover;
	background-position: center;
	border-bottom: black 3px solid;
}

.btn-primary,.reset{
	background: url("../images/start_img-01.svg") no-repeat;
	background-size: contain;
	background-position: center;
	background-color: none;
	border: 0;
	color: white;
	width: 350px;
	height: 95px;
	padding: 20px;
	margin-top: 10px;
}

.clear{
	background: none;
}

.btn-primary:hover, .reset:hover{
	width: 340px;
	height: 90px;
	cursor: pointer;
}

.container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	top: 0;
	text-align: center;
	width: 70%;
}

.heyYou{
	font-size: 32pt;
	font-family: 'Finger Paint', cursive;
	color: #ef3940;
	line-height: 130%;
	padding: 10px;
}

#directions{
	padding: 20px;
	font-size: 18pt;
	line-height: 150%;
}

#timeLeft{
	font-size: 24pt;
	font-family: 'Finger Paint', cursive;
	color: #ef3940;
	padding-bottom: 10px;
	padding-top: 15px;
}

.question{
	font-family: 'Cabin Sketch', cursive;
	font-size: 32pt;
	line-height: 36pt;
	font-weight: bold;
}

.answerList{
	line-height: 200%;
}

h2, #message, #finalMessage{
	font-family: 'Love Ya Like A Sister', cursive;
	padding: 10px;
}

.thisChoice:hover{
	background-image: url("../images/underline.svg");
	background-repeat: no-repeat;
	background-position-y: 24pt;
	background-position: center;
	color: red;
	padding: 0px;
}

#finalMessage{
	font-family: 'Cabin Sketch', cursive;
	font-size: 30pt;
	line-height: 36pt;
	font-weight: bold;
}

#correctAnswers{
	line-height: 200%;
}

#unanswered{
	line-height: 200%;
}

#incorrectAnswers{
	line-height: 200%;
}

#startOverBtn{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	width: 300px;
	height: 95px;
}

#startOverBtn:hover{
	width: 290px;
	height: 90px;
	cursor: pointer;
}

#png{
	margin: 20 0 0 0;
	padding: 0;
}